<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('portfolio/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ static('portfolio/css/mdb.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="{{ static('portfolio/js/jquery.js') }}"></script>
    <script src="{{ static('portfolio/js/popper.js') }}"></script>
    <script src="{{ static('portfolio/js/bootstrap.js') }}"></script>
    <script src="{{ static('portfolio/js/mdb.js') }}"></script>
    <script src="{{ static('portfolio/js/addons/imagesloaded.pkgd.js') }}"></script>
    <script src="{{ static('portfolio/js/addons/masonry.pkgd.js') }}"></script>

    <link rel="stylesheet" href="{{ static('portfolio/css/masonry.css') }}" />
    <link rel="stylesheet" href="{{ static('portfolio/css/custom.css') }}" />
    <script src="{{ static('portfolio/js/custom.js') }}"></script>
    <link rel="stylesheet" href="{{ static('portfolio/css/lightbox.css') }}" />
    <script src="{{ static('portfolio/js/lightbox.js') }}"></script>

    <title>{% block title %}{% endblock %} | Kenneth Domingo Photography</title>
    <meta name="description" content="Portfolio and booking website of Kenneth Domingo Photography, created, managed, and maintained by Kenneth V. Domingo, based in Quezon City, Philippines." />
    <meta property="og:title" content="Kenneth Domingo Photography" />
    <meta property="og:url" content="http://kdphotography.herokuapp.com" />
    <meta name="og:description" content="Portfolio and booking website of Kenneth Domingo Photography, created, managed, and maintained by Kenneth V. Domingo, based in Quezon City, Philippines." />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@rockentothemoon" />
    <meta property="twitter:creator" content="@rockentothemoon" />

    <style>
        body {
            font-family: "Quicksand", sans-serif;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: rgba(255, 255, 255, 0.95)">
        <a class="navbar-brand" href="{{ url('index') }}"><h3 class="h3-responsive my-0 text-center">KENNETH DOMINGO<br />PHOTOGRAPHY</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false", aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ 'active' if active_page == 'index' }}">
                    <a class="nav-link" href="{{ url('index') }}">Latest</a>
                </li>
                <li class="nav-item dropdown {{ 'active' if active_page == 'portfolio' }}">
                    <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Portfolio</a>
                    <div class="dropdown-menu dropdown-default dropdown-menu-right float-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url('portfolio', args=['portraits']) }}">PORTRAITS</a>
                        <a class="dropdown-item" href="{{ url('portfolio', args=['live']) }}">LIVE</a>
                    </div>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'clients' }}">
                    <a class="nav-link" href="{{ url('clients_landing') }}">Clients</a>
                </li>
                <li class="nav-item dropdown {{ 'active' if active_page == 'contests' }}">
                    <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Contests</a>
                    <div class="dropdown-menu dropdown-default dropdown-menu-right float-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url('samoetikerffa') }}">#SAMOETIKERFFA</a>
                    </div>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'shorts' }}">
                    <a class="nav-link" href="{{ url('shorts') }}">Short Films</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'about' }}">
                    <a class="nav-link" href="{{ url('about') }}">About</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'booking' }}">
                    <a class="nav-link" href="{{ url('booking') }}">Booking</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <footer class="container-fluid" style="padding-bottom: 0; margin: 20px auto;">
        <div class="row">
            <div class="col">
                <p>&copy; {{ now.year }} Kenneth Domingo Photography</p>
            </div>
            <div class="col text-right">
                <a href="https://www.instagram.com/arockentothemoon" target="_blank"><big class="fab fa-instagram"></big></a>
                <a href="https://www.instagram.com/arockentothetones" target="_blank"><big class="fab fa-instagram"></big></a>
                <a href="https://www.pinterest.ph/arocKENtothmoon" target="_blank"><big class="fab fa-pinterest"></big></a>
                <a href="https://www.facebook.com/KennethDomingoPhotography" target="_blank"><big class="fab fa-facebook-square"></big></a>
            </div>
        </div>
    </footer>
    <script src="{{ static('portfolio/js/masonry.js') }}"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
</body>
</html>
