{% extends 'portfolio/base.html.j2' %}

{% block title %}
    {{ html_title }}
{% endblock %}

{% block body %}

<div class="container-fluid" style="margin-top: 10px">
    <div class="grid">
        <div class="grid-sizer"></div>
        {% for image in image_src %}
            <div class="grid-item">
                <a href="{{ image }}" data-toggle="lightbox" data-gallery="example-gallery">
                    <img src="{{ image }}" />
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
